@{
  Layout = "_Layout";
}

<h1>Enter a new word to count</h1>
<form action="/WordCounters" method="post">
  <label for="word">Enter the word</label>
  <input id="word" name="word" type="text">
  <label for="sentence">Enter the sentence</label>
  <input id="sentence" name="sentence" type="text">
  <div class="">
    <button type="submit">Count frequency of word</button>
  </div>
</form>
