<div id="navbar">
  <a href="/"><button type="button">Home</button></a>
  <a href="/WordCounters/new"><button type="button">New Counter</button></a>
  <a href="/WordCounters"><button type="button">List of Counter</button></a>
</div>
